.fourOhFourContainer {
    flex: 1 0 70%;
    max-height: 70%;
    background: var(--background-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourOhFourStuff {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--card-purple);
    color: var(--background-yellow);
    box-shadow: 3px 3px 6px black;
    margin-top: 30px;
    position: relative;
    z-index: 0;
    text-align: center;
}

.header {
    width: 100%;
    border-bottom: solid 2px var(--card-pink);
    font-size: 40px;
}

.headerText {
    margin: 25px;
}

.heading {
    margin: 15px 0;
    font-size: 30px;
}

.body {
    font-size: 24px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.actions {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem;
}

.button {
    background: var(--card-purple);
    border: none;
    outline: none;
    font-size: 30px;
    font-family: var(--text-font);
}

.button:hover {
    cursor: pointer;
}

.goBack {
    color: var(--pencil-gray);
}

.home {
    color: var(--card-green);
}
