.chatMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sender {
    font-size: 12px;
    color: var(--pencil-gray);
    margin: 4px;
}

.messageBubble {
    border-radius: 12px;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 8px;
    position: relative;
    max-width: 80%;
    display: inline-block;
    margin-bottom: 4px;
    background-color: var(--pencil-gray);
    align-self: flex-start;
    color: white;
    border-bottom-left-radius: 0px;
    font-size: 16px;
}

.userBubble {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 8px;
    background-color: var(--card-blue);
    align-self: flex-end;
    margin: 4px;
}

.systemBubble {
    background-color: var(--card-pink);
    color: white;
    border-radius: 4px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: solid 2px var(--card-pink);
    padding: 16px;
    max-width: 100%;
    width: 100%;
}

.systemHeader {
    color: var(--pencil-gray);
    text-align: left;
}

.alignRight {
    align-self: flex-end;
}

.messageText {
    margin: 0;
}

.timestamp {
    margin: 0;
    font-size: 12px;
    color: var(--pencil-gray);
}
