@import url('../../../index.css');

.chatPage {
    height: 100vh;
    display: grid;
    color: var(--card-blue);
    background: var(--background-yellow);
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "header"
    "content";
}

.chatPageContent {
    grid-area: content;
    display: flex;
    padding-bottom: 30px;
    height: 100%;
}

.chat {
    flex: 1 0 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.chatBtn {
    outline: none;
    border: var(--card-pink);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--card-pink);
    font-size: 24px;
    color: white;
    font-family: var(--text-font);
}
.chatBtn:hover {
    cursor: pointer;
    background-color: var(--card-purple);
}

.spacer {
    height: 24px;
}

.moreActions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
