.header {
    background-color: var(--card-pink);
    padding: 16px;
    text-align: center;
    width: 100%;
    color: white;
}

.chatRoomHeader {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.chatRoomName {
    font-size: 20px;
    margin: 12px 0 8px 0;
}