@import '../../../index.css';

.logoutPage {
    grid-area: page;
    height: 400px;
    background: var(--create-card-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    box-shadow: 3px 3px 6px black;
}
