@import "../../../index.css";

.header {
	padding: 20px;
	height: 100px;
	color: var(--card-blue);
	background: var(--background-yellow);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	grid-area: header;
	margin-bottom: 30px;
	border-bottom: solid 3px var(--card-pink);
}

.logo {
	text-decoration: none !important;
	margin-left: 20px;
	flex: 1 0 auto;
	font-size: 80px;
	color: var(--card-blue);
	font-family: "Reenie Beanie", cursive;
}
