@import '../../../index.css';

.linksContainer {
    font-size: 28px;
    padding-right: 20px;
    flex: 0 1 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.linksList {
    flex: 1 0 auto;
    list-style: none !important;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    text-align: center;
    align-items: center;
}
