@import url('../../../index.css');

.addedCardsContainer {
    flex: 1 0 30%;
    background: var(--background-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addedCards {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.line {
    width: 100%;
    margin-top: -15px;
    border-top: solid 2px var(--card-pink);
}

.addedCard {
    width: 80%;
    max-width: 200px;
    display: block;
    color: var(--background-yellow);
    background: var(--action-blue);
    box-shadow: 2px 2px 4px black;
    margin-top: 10px;
    padding: 8px 12px;
}

.addedCard:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--card-pink);
}

.addedCardsHeader {
    font-size: 24px;
}

.addedCardLabel {
    text-align: center;
    color: var(--background-yellow);
    font-size: 30px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}