@import url('./index.css');

.mainContainer {
  height: 100%;
  display: grid;
  background: var(--background-yellow);
  color: var(--card-blue);
  grid-template-columns: 1fr;
  grid-template-rows: 160px auto;
  grid-template-areas: 
  "header"
  "page";
  margin: -8px -8px -8px -8px;
  font-family: 'Vidaloka', serif;
}

.heading {
  font-size: 50px;
}