:root {
  --background-yellow: rgb(246, 238, 146);
  --lighter-blue: rgb(139, 144, 218);
  --card-blue: rgb(81, 128, 248);
  --action-blue: rgb(103, 145, 253);
  --card-pink: #f8519f;
  --card-purple: rgb(199, 107, 252);
  --card-green: rgb(29, 228, 102);
  --create-card-green: rgb(86, 236, 141);
  --dark-green: rgb(10, 130, 72);
  --pencil-gray: #5c6274;
  --logo-font: 'Reenie Beanie', cursive;
  --text-font: 'Vidaloka', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: var(--background-yellow);
  scroll-behavior: smooth;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.link {
  text-decoration: none !important;
}
