.userHomePage {
  height: 100%;
  display: grid;
  background: var(--background-yellow);
  color: var(--card-blue);
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  grid-template-areas: 
  "header"
  "content";
}
