@import url('../../../../index.css');

.userCarouselItem {
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--card-blue);
    color: var(--background-yellow);
}