@import url('../../../../index.css');

.container {
    height: 120px;
    width: 210px;
    display: block;
    font-size: 24px;
    background-color: var(--action-blue);
    color: var(--background-yellow);
    box-shadow: 2px 2px 4px var(--dark-gray);
}

.line {
    width: 100%;
    height: 20px;
    border-bottom: solid 2px var(--card-pink);
}

.label {
    text-align: center;
    padding: 12px 8px;
    width: 93%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--card-pink);
    color: var(--pencil-gray);
}

.following {
    background-color: var(--card-purple);
}
