@import url('../../../index.css');

.userResultContainer {
    height: 300px;
    width: 30%;
    background-color: var(--background-yellow);
    box-shadow: 2px 2px 4px var(--dark-gray);
}

.userResultContainer:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--card-pink);
}

.username {
    border-bottom: solid 2px var(--card-pink);
    color: var(--card-blue);
    width: 100%;
    margin: 24px 0;
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.contentContainer {
    width: 90%;
    display: flex;
    gap: 10px;
    align-items: center;
    overflow: hidden;
    padding: 10px 0;
}

.deckCarouselItem {
    width: 210px;
    height: 120px;
    text-align: center;
    font-size: 30px;
    background-color: var(--action-blue);
    color: var(--background-yellow);
    box-shadow: 2px 2px 4px var(--dark-gray);
}

.line {
    width: 100%;
    height: 24px;
    border-bottom: solid 2px var(--card-pink);
}

.labelContainer {
    justify-self: center;
}

.label {
    font-size: 30px;
    margin: 16px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.deckCarouselItem:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--card-pink);
    color: var(--pencil-gray);
}

.noDecks {
    color: var(--card-pink);
    font-size: 24px;
    text-align: center;
    align-self: center;
}
