@import url('../../../index.css');

.userResultContainer {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    background-color: var(--background-yellow);
    box-shadow: 2px 2px 4px var(--dark-gray);
}

.username {
    border-bottom: solid 2px var(--card-pink);
    color: var(--card-blue);
    width: 100%;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.contentContainer {
    width: 90%;
    display: flex;
    gap: 4px;
    align-items: center;
    overflow: hidden;    
    padding: 4px 0;
}

.deckCarouselItem {
    height: 64px;
    width: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    background-color: var(--action-blue);
    color: var(--background-yellow);
    box-shadow: 2px 2px 4px var(--dark-gray);
}

.line {
    width: 100%;
    margin-top: 8px;
    background: var(--card-pink);
    border: solid 1px var(--card-pink);
}

.name {
    font-size: 16px;
}

.deckCarouselItem:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--card-pink);
    color: var(--pencil-gray);
}

.noDecks {
    color: var(--card-pink);
    font-size: 20px;
    text-align: center;
    align-self: center;
}
