@import url('../../../index.css');

.createCardFormContainer {
    flex: 1 0 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.createCardForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--background-yellow);
    background: var(--background-yellow);
}

.error {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    height: 40px;
}

.addCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.addCardBtn {
    font-size: 60px;
    font-weight: 500;
    font-family: var(--logo-font);
    color: var(--dark-green);
    outline: none;
    border: none;
    padding: 0 15px;
    background: none;
}

.addCardBtn:hover {
    cursor: pointer;
    font-size: 64px;
    font-weight: 700;
}
