.chatContainer {
    flex: 1 0 25%;
    height: 100%;
    background: var(--background-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid 2px var(--card-pink);
    position: relative;
  }

.conversation {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.msg {
    padding: 8px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px !important;
}

.sender {
    margin: 0 !important;
    font-size: 18px !important;
}

.msgText {
    font-size: 18px !important;
    margin: 0 !important;
    color: black;
}

.hostMsg {
    border: solid 1px var(--card-blue);
}

.userMsg {
    border: solid 1px var(--card-purple);
}

.messageForm {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.actions {
  position: relative;
  border: solid 2px var(--card-pink);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 12px 4px;
}

.messageInput {
  width: 100%;
  background-color: var(--background-yellow);
  border: none;
  height: 52px;
  color: var(--pencil-gray);
  font-family: var(--text-font);
  font-size: 20px;
  padding-left: 4px;
}

.messageInput::placeholder {
  font-size: 20px;
  opacity: .6;
}

.messageInput:disabled {
  opacity: .5;
}

.sendMsgBtn {
  max-width: 42px;
  position: absolute;
  right: 8px;
  background-color: var(--background-yellow);
  outline: none;
  border: none;
  transform: rotate(10deg);
  color: var(--card-pink);
}

.sendMsgBtn:hover {
  cursor: pointer;
  color: var(--card-pink);
}

.sendMsgBtn:disabled {
  opacity: .5;
}
