.chatContainer {
    flex: 1 0 25%;
    width: 100%;
    background: var(--background-yellow);
    display: flex;
    flex-direction: column;
    border-right: solid 2px var(--card-pink);
}

.conversation {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;
    padding: 0 10px 8px 10px;
}

.msg {
    padding: 8px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px !important;
}

.sender {
    margin: 0 !important;
    font-size: 18px !important;
    text-align: left;
}

.msgText {
    font-size: 18px !important;
    margin: 0 !important;
    color: var(--dark-gray);
}

.hostMsg {
    border: solid 1px var(--card-blue);
}

.userMsg {
    border: solid 1px var(--card-purple);
}

.messageForm {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 12px;
    background-color: var(--card-pink);
    height: 92px;
}

.actions {
    position: relative;
    border: solid 2px var(--card-pink);
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 12px 8px;
}

.messageInput {
    width: 100%;
    background-color: var(--background-yellow);
    border: none;
    border-radius: 4px;
    height: 52px;
    color: var(--pencil-gray);
    font-family: var(--text-font);
    font-size: 20px;
    padding-left: 4px;
}

.messageInput::placeholder {
    font-size: 20px;
    opacity: 0.6;
}

.sendMsgBtn {
    max-width: 42px;
    position: absolute;
    right: 8px;
    background-color: var(--background-yellow);
    outline: none;
    border: none;
    transform: rotate(10deg);
    color: var(--card-pink);
}

.sendMsgBtn:hover {
    cursor: pointer;
    color: var(--card-pink);
}

.sendMsgBtn:disabled {
    opacity: 0.5;
}
