@import url('../../../index.css');

.scrollCaret {
    background: var(--background-yellow);
    color: var(--card-pink);
    width: 30;
    margin: 10px;
    padding: 5px;
    border: none;
    outline: none;
}

.scrollCaret:hover {
    color: var(--card-blue);
    cursor: pointer;
}