.chatRoomHeader {
	display: flex;
	grid-template-columns: 1fr 5fr;
	text-align: center;
	width: 70%;
	padding: 24px;
}

.leaveRoomButton {
	flex: 0;
	background: none;
	border: none;
	color: var(--card-blue);
	padding: 0;
	margin-left: 16px;
}

.leaveRoomButton:hover {
	color: var(--card-pink);
	cursor: pointer;
}

.headerText {
	flex: 1 0 auto;
	font-size: 52px;
	color: var(--card-pink);
	margin: 0px;
	text-align: center;
	font-family: var(--logo-font);
}

.spanText {
	color: var(--card-blue);
}
