.chatRoom {
    min-height: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--text-font);
    margin: 15px;
    background-color: var(--background-yellow);
    box-shadow: 2px 2px 4px var(--pencil-gray);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    height: 64px;
    width: 100%;
    color: var(--card-blue);
    border-bottom: solid 2px var(--card-pink);
}

.roomDeets {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.currentMembers {
    color: var(--pencil-gray);
}
