@import url("../../../index.css");

.deckPage {
	height: 100vh;
	display: grid;
	color: var(--card-blue);
	background: var(--background-yellow);
	grid-template-columns: 1fr;
	grid-template-rows: 100px auto;
	grid-template-areas:
		"header"
		"content";
}

.deckContent {
	grid-area: content;
	display: flex;
	padding-bottom: 30px;
	height: 100%;
}
