@import url('../../../index.css');

.homePage {
    height: 100vh;
    width: 100%;
    display: flex;
}

.splash {
    flex: 1 0 35%;
    background-color: var(--background-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    font-family: var(--logo-font);
}

.blurb {
    flex: 1 0 50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    height: 30px;
    background: var(--card-blue);
    margin-bottom: 30px;
}

.errorMsg {
    color: var(--background-yellow);
    font-size: 22px;
    text-align: center;
}

.wrapper {
    flex: 1 0 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-blue);
}

.loginSignup {
    width: 80%;
    height: 70%;
    background-color: var(--card-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
